.Navbar {
  height: 100%;
  width: 250px;
  background-color: #ffffff;
  align-items: center;
  transition: 0.5s;
}

.NavbarList {
  height: auto;
  padding: 0;
  margin: auto;
  display: flex;
  width: fit-content;
}

.NavbarList .tab {
  width: max-content;
  text-align: center;
  height: 50px;
  font-size: 16px;
  list-style-type: none;
  margin-bottom: 5px;
  color: #697a8d;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 10px;
}

.NavbarList .tab:hover {
  cursor: pointer;
  background-color: #d4d6da;
  transition: 0.4s;
}

.NavbarList #active_menu {
  justify-content: center;
  border-bottom: 2px solid #b13137;
  font-weight: bolder;
  color: #b13137;
}

@media screen and (max-width: 850px) {
  .Navbar {
    margin: auto;
    width: 90%;
  }
}
