.search_bar{
    border-radius: 10px;
    margin: auto 15px auto 35px;
    flex: auto;
    width: max-content;
    font-size: 14px;
}

.dropdown{
    border-radius: 10px;
}

#active-dropdown{
    border: #d0d5da 1px solid;
    box-shadow: 1px solid;
    box-shadow: 0px 4px 21px 0px rgba(169,169,169,0.55);
    -webkit-box-shadow: 0px 4px 21px 0px rgba(169,169,169,0.55);
    -moz-box-shadow: 0px 4px 21px 0px rgba(169,169,169,0.55);    
}

.dropdown-item{
    padding: 10px;
    text-align: left;
    color: #b13137;
    background: white;
    font-weight: bold;
    cursor: pointer;    
    transition: 0.4s;
}

.dropdown-item:hover{
    font-size: 15px;
    color: #697a8d;
}

.search-text{
    padding: 10px;
}

.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root{
    font-family: inherit;
    font-size: 0.9rem;    
}

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input{
    font-size: 16px !important;
    padding: 14px 10px !important;
}

.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: #b13137 !important; 
}

.css-1sumxir-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
    color: #b13137 !important;
}

.css-1u3bzj6-MuiFormControl-root-MuiTextField-root{
    width: 100%;
    background-color: #ffffff;    
}

.search_error{
    padding: 5px;
}