.header{
    height: 100px;
    background-color: #E7EAED;
    display: flex;
    flex-direction: row;
}

.brand{
    background-color: #ffffff;
    width: 250px;
    display: flex;
    justify-content: center;
}

.brand_container{
    display: flex;
    justify-content: center;   
}

.brand_name{
    flex: 60%;
    margin: auto;
    color: #394f68;
    font-size: 32px;
    font-family: sans-serif;
}

.logo{
    flex: 40%;
    margin: auto;
    width: 50px;
    height: 50px;
    padding: 5px;
}

.search_bar{
    border-radius: 10px;
    background-color: #ffffff;
    margin: auto 15px auto 35px;
    flex: auto;
    width: max-content;
}

.header_menu{
    width: 250px;
    margin: auto;
}

.header_menu_container{
    background-color: #ffffff;
    width: 80%;
    height: 56px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 10px;
}

#notifications_btn, #logout_btn, #hamburger_btn{
    color: #394f68;
    margin: auto;
    padding: 14px 18px 14px 18px;
    border-radius: 4px;
    font-size: 24px;
    transition: 0.5s;
}

#hamburger_btn{
    display: none;
}

#notifications_btn:hover, #logout_btn:hover, #hamburger_btn:hover{
    background-color: #E7EAED;
    font-size: 25px;
}

@media screen and (max-width: 1040px){
    .header{
        display: block;
        background-color: #ffffff;
    }

    .brand{
        margin: auto;
        padding: 20px;
        background-color: #ffffff;
        width: 100%;
        display: flex;
        justify-content: flex-start;
    }

    .search_bar{
        margin: auto;
        width: 85%;
    }

    .header_menu{
        width: fit-content;
        position: absolute;
        top: 11%;
        left: 100%;
        transform: translate(-100%, -100%);
    }

    #hamburger_btn{
        display: block;
    }
    
}

@media screen and (max-width: 450px){
    #notifications_btn, #logout_btn, #hamburger_btn {
        padding: 7px 9px 7px 9px;
    }
}