.checkbox-container{
    margin: auto;
}

.checkbox-custom{
    margin: 0;
    padding: 0;
    color: #394f68;
    text-align: left;
}

.checkbox-label{
    color: #b13137;
    font-weight: bolder;
    font-size: 14px;
    text-align: left;
    padding-left: 10px;
    display: inline;
}

.css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root{
    padding: 3px !important;
}

@media screen and (max-width: 650px){
    .checkbox-custom{
        width: 95% !important;
        text-align: center;
    }
}