.btn-container{
    margin-bottom: 8px;
}

.btn-custom{
    padding: 5px 10px 5px 10px !important;
    margin: auto;
    font-size: 12px !important;
    border-radius: 5px !important;
    text-transform: none;
    transition: 0.4s !important;
    font-weight: bolder;
}

.btn-custom:hover{
    font-size: 15px;
}